nav.navigation 
    .navigation__wrapper 

        a.navigation__link(href="/")=meta.data.title 

            svg.navigation__link__icon

        ul.navigation__list
            each lists in navigation.data.links
                li.navigation__list__item 
                    a.navigation__list__item__link(href=Link(lists.link))=lists.title     
