.about__gallery {
  @extend %center;
  overflow: hidden;
}

.about__gallery__wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 2.1rem;
  justify-content: center;
  align-items: center;
}

.about__gallery__media {
  width: 25.5rem;
  height: 35.9rem;
}

.about__gallery__media__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
