.preloader {
  @extend %cover;
  @extend %center;
  background: $color-primary-white;
  color: $color-primary-light;
  z-index: z("preloader");
}

.preloader__text {
  font-size: 0;
  max-width: 60.8rem;
  text-align: center;

  span {
    overflow: hidden;
    display: inline-block;

    span {
      @extend %title-53;
    }
  }
}

.preloader__number {
  @extend %description-16;

  position: absolute;
  bottom: 7.2rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  overflow: hidden;
}

.preloader__number__text {
  display: inline-block;
}
