$color-primary-white: #fffcf5;
$color-primary-black: #161925;

$color-secondary-black: #1c2321;

$color-primary-dark: #2f8b9a;
$color-primary-light: #5ca1a6;

$shadow-lift: 0 12px 32px 0 rgba(0, 55, 67, 0.16);
$shadow-rest: -2px 2px 2px 0 rgba(0, 0, 0, 0.08);

$font-satoshi: "Satoshi";
$font-source-serif: "Source Serif 4";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("navigation", "content");
