html {
  box-sizing: border-box;
  font-size: calc(100vw / 1440 * 10);

  @include media("<phone") {
    font-size: calc((100vw / 750 * 10));
  }
}

body {
  @extend %description-20;

  font-family: $font-source-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
