html {
  @extend %cover;
  position: fixed;
  overflow: hidden;

  box-sizing: border-box;
  font-size: calc(100vw / 1440 * 10);

  @include media("<phone") {
    font-size: calc((100vw / 750 * 10));
  }
}

body {
  @extend %cover;
  position: fixed;

  @extend %description-20;

  font-family: $font-source-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  @extend %cover;
}

[data-animation="paragraph"],
[data-animation="label"],
[data-animation="title"] {
  span {
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
  }
}
